<ion-header class="ion-no-border" style="padding-top: 5px;">
  <ion-toolbar style="padding-left: 3px;">
    <ion-item slot="start" lines="none" style="padding-top: 15px; border-radius: 15px;padding-left: 0px;">

      <div slot="start" (click)="navigateToProfilPage()">
        <img src="../../../assets/tikala_logo2.png" style="height: 30px; width: 50px">
      </div>
      <ion-label>
        <p></p>
        <!-- <h3 style="color: black;font-family: Georgia, serif !important;">Utilisateur 1</h3> -->
      </ion-label>
    </ion-item>
    <ion-buttons slot="end"><br>
      <ion-button (click)="navigateToNotificationsPage()" class="bordered" fill="solid" color="#27448c"
        style="color: #27448c">
        <ion-icon name="notifications" style="color: #27448c"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 0px 3px 0px 3px;padding-top: 0px">
  <div class="slides ion-margin-bottom" style="padding-top: 0px;">
    <div class="alertWarning" *ngIf="profilIncomplet" style="color: #fff;">
      <strong>{{'incompletProfil' | translate}}! </strong> {{'completAccountMsg' | translate}} <br>
      <div id="countdown">
        <div id="countdown-number"></div>
        <svg>
          <circle r="10" cx="20" cy="20"></circle>
        </svg>
      </div>
      <a (click)="navigateToProfilPage()" class="center"> <button
          style="background-color: #fff; color: #27448c; border-radius: 5px; padding: 0 5px;">{{'completAccount' |
          translate}}</button></a>
    </div>
    <p
      style="color: #27448c; margin-left: 15px;margin-top: 0px; padding-bottom: 0px;padding-top: 3px; margin-bottom: 0px; font-family: Georgia, serif !important;">
      <b> {{'headlines' | translate}}</b>
    </p>
    <ion-slides [options]="slidesOptions" *ngIf="!waitingData0">
      <ion-slide>
        <ion-card class="solde-content movie--isloading">
          <div class="loading-image"></div>
          <div class="loading-content">
            <div class="loading-text-container">
              <div class="loading-main-text"></div>
              <div class="loading-sub-text" style="margin-bottom: 5px;"></div>
              <div class="loading-main-text"></div>
            </div>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="solde-content movie--isloading">
          <div class="loading-image"></div>
          <div class="loading-content">
            <div class="loading-text-container">
              <div class="loading-main-text"></div>
              <div class="loading-sub-text" style="margin-bottom: 5px;"></div>
              <div class="loading-main-text"></div>
            </div>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="solde-content movie--isloading">
          <div class="loading-image"></div>
          <div class="loading-content">
            <div class="loading-text-container">
              <div class="loading-main-text"></div>
              <div class="loading-sub-text" style="margin-bottom: 5px;"></div>
              <div class="loading-main-text"></div>
            </div>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides [options]="slidesOptions" *ngIf="waitingData0">
      <ion-slide *ngFor="let elements of aLaUne; let i = index"
        (click)="openModal(elements.newsTitle, elements.photo, elements.newsDate, elements.newsContent, elements.newsAutor, elements.newsContentShort)">
        <ion-card class="solde-content">
          <ion-card-header class="addit">
            <div
              style="border-radius: 10px; height: 150px; background: url('{{serverUrl}}{{elements.photo}}'); background-repeat: no-repeat;background-size: 100% 100%;">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h4><b style="color: rgb(73, 72, 72);">{{elements.newsTitle}}</b></h4>

            <h6 style="font-size: 0.7em !important; color: rgb(73, 72, 72); margin-top: 10px;">
              <ion-icon name="person"></ion-icon> {{elements.auteur}} <br>
              <ion-icon name="calendar"></ion-icon> {{elements.newsDate | date: 'dd/MM/yyyy'}} <br>
              <ion-icon name="time"></ion-icon> {{elements.newsDate| date:'shortTime'}}<br>
              <ion-icon name="location"></ion-icon>
            </h6>
            <!-- <p style="color: rgb(73, 72, 72);">{{elements.newsContentShort}} -->
            <!-- </p> -->
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container" *ngIf="!waitingData">
    <h3 style="color: #27448c; font-family: Georgia, serif !important; margin-left: 10px; font-size: 1em"><b> {{'infos'
        | translate}}
      </b></h3>
    <div class="container">
      <div class="post">
        <div class="avatar"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="post">
        <div class="avatar"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="post">
        <div class="avatar"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="post">
        <div class="avatar"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <br>
  </div>

  <div class="container">
    <p style="color: #27448c; font-family: Georgia, serif !important; margin-left: 10px; font-size: 1em">
      <b> {{'infos' | translate}}</b>
    </p><br>
    <div class="row" *ngFor="let news of newsTab; let i = index"
      (click)="openModal(news.newsTitle, news.photo, news.newsDate, news.newsContent, news.newsAutor, news.newsContentShort)">
      <div class="column">
        <div class="card" style="display: flex; align-items:center;">
          <img src="http://dev.tilakat.com:8091{{news.photo}}" alt="img"
            style="height: 100px !important; width: 100px !important; vertical-align:middle;">
          <p class="wrapper">
            <span class="demo-1" style="font-size: 1em !important; color: rgb(37, 36, 36); margin-left: 3px;" >{{news.newsTitle}} </span>
            
            <span style="font-size: 0.7em !important; color: rgb(64, 63, 63);">
              <ion-icon name="calendar"></ion-icon> {{news.newsDate | date: 'dd/MM/yyyy'}} <br>
            <ion-icon name="calendar"></ion-icon> {{news.newsDate | date: 'shortTime'}}</span>
          </p>
        </div>
      </div>
    </div>


    <!-- <ion-item lines="none" *ngFor="let news of newsTab; let i = index"
      (click)="openModal(news.newsTitle, news.photo, news.newsDate, news.newsContent, news.newsAutor, news.newsContentShort)">
      <ion-grid style="padding-left: 0;">
        <ion-row class="ion-align-items-center" style="padding-left: 0px;">
          <ion-col style="max-width: 60px; padding: 0;">
            <img src="http://dev.tilakat.com:8091{{news.photo}}" alt="img"
              style="height: 50px !important; width: 50px !important">
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <p style="color: rgb(73, 72, 72)">
                {{news.newsContentShort}}
              </p>
              <h6 style="font-size: 0.7em !important; color: rgb(73, 72, 72);">
                <ion-icon name="calendar"></ion-icon> {{news.newsDate | date: 'dd/MM/yyyy'}}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <p style="color: #27448c; text-align: center; margin-top: 5px;" (click)="navigateToNews()">Plus ></p>
    <br>
  </div>
  <br><br>

</ion-content>