<ion-header class="ion-no-border" style="padding-top: 0px; padding-bottom: 0px;margin-bottom: 0;">
    <ion-toolbar style="padding-left: 0px; padding-top: 10px;">
        <ion-buttons slot="start">
            <ion-icon name="chevron-back" style="color: #27448c; height: 35px !important; width: 30px;" (click)="prviousPage()"></ion-icon>
        </ion-buttons>
        <ion-title style="color: #000" class="center col col-center text-center"> {{title}}</ion-title>
        <ion-buttons slot="primary" (click)="navigateToNotificationsPage()">
            <ion-button class="bordered" fill="solid" color="#27448c" style="color: #27448c">
                <ion-icon color="custom" name="notifications" style="color: aliceblue;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>